
.App {
  text-align: center;
    margin: 0;
    padding: 0;

}

a{
  color: black;

}


.app-header{
  margin-top: 0%;
}

body{
  background: url("https://i.pinimg.com/originals/37/71/60/37716068933bae2f9b11ff90bc91b015.png");
  background-size: cover;
  width: 100%;
  height: 300px;
  margin: 0%;
  margin-top: 0px;
}

.header {
  background-color: #264653;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}


.single-review{
  background-color: #264653;
  width: 80%;
  margin-top: 1.5em;
  margin-left: auto;
margin-right: auto;
}

.view-review-link {
  color: white;
}

body{
  color: white;
  font-family: 'Marcellus', serif;
}

.header{
  background-color: #264653;
display: inline-block;
width: 100%;
}

#homepage-link{
  color: white;
}



.homepage{
height: 60rem;
color: white;
}

.view-review-link:visited {
  color: #c44536;
}

.home-link-background{
  background-color: #264653;
}

.home-link{
  background-color: #264653;
  color: white;
}

.reviews{
  background-color: #264653;
}

.nav{
  background-color: #264653;
}

.nav-links{
  color: white;
}

.user-card{
  max-width: 30%;
  align-items: center;
  color: white;
  border: 2px solid #264653;
  background-color: #264653;
  margin: 20px;
  margin-left: auto;
margin-right: auto;
}

.review-card {
  max-width: 60%;
  align-items: center;
  color: white;
  border-radius: 20%;
  border: 2px solid #264653;
  background-color: #264653;
  margin: 20px;
  margin-left: auto;
margin-right: auto;
}

@media screen and (max-width: 480px) {
  .user-card {
     min-width: 50%;
  }
  .review-card{
  min-width: 90%;
  font-size: 14px;
  }
  .review-title{
    font-size: 18px;
  }
}

button {
cursor: pointer;
}

ul {
  list-style-type: none;
}

.single-review-image {
  height: 300px;
  width: 300px;
}

.upvote-button{
  background-color: black;
  margin: 20px;
}

.downvote-button{
  background-color: black;
  margin: 20px;
}

.reset-button{
  margin: 20px;
}
.user-avatar-home{
  height:100px;
  width: 100px;
}

.logout-button {
display: flex;
flex-direction: row;
justify-content: flex-end;
}

.user-avatar-header {
  height: 50px;
  width: 50px;
}

#filter-text{
  color: white;
}

#review-link{
  color: white;
}

#github-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login-link{
  color: white;
}

.login-message{
  color: #d00000;
}