.App {
  text-align: center;
}

.header {
  background-color: #264653;
}

.view-review-link {
  color: white;
}
.view-review-link:visited {
  color: #c44536;
}

.home-link-background{
  background-color: #264653;
}

.home-link{
  background-color: #264653;
  color: white;
}

.reviews{
  background-color: #264653;
}

.nav{
  background-color: #264653;
}

.nav-links{
  color: white;
}

.user-card{
  max-width: 30%;
  align-items: center;
  color: #000000;
  border: 2px solid #264653;
  background-color: #264653;
  margin: 20px;
  margin-left: auto;
margin-right: auto;
}

.review-card {
  max-width: 60%;
  align-items: center;
  color: #000000;
  border-radius: 25%;
  border: 2px solid #264653;
  background-color: #264653;
  margin: 20px;
  margin-left: auto;
margin-right: auto;
}

button {
cursor: pointer;
}

ul {
  list-style-type: none;
}

.single-review-image {
  height: 300px;
  width: 300px;
}

.upvote-button{
  background-color: black;
  margin: 20px;
}

.downvote-button{
  background-color: black;
  margin: 20px;
}

.reset-button{
  margin: 20px;
}
.user-avatar-home{
  height:100px;
  width: 100px;
}
.logout-button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.user-avatar-header {
  height: 50px;
  width: 50px;
}

#filter-text{
  color: white;
}

#review-link{
  color: white;
}