.App {
  text-align: center;
}

button {
cursor: pointer;
}
ul {
  list-style-type: none;
}

.single-review-image {
  height: 300px;
  width: 300px;
}

.upvote-button{
  background-color: black;
  margin: 20px;
}

.downvote-button{
  background-color: black;
  margin: 20px;
}

.reset-button{
  margin: 20px;
}